{:kotoba.app/id "cloud.itonami.isic-0141", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreidpwgzpcft5hzgd5zcizlphp2gf6vevyzxfz4ur2l4va23craamgi", :kotoba.app/embed-url "ipfs://bafkreidpwgzpcft5hzgd5zcizlphp2gf6vevyzxfz4ur2l4va23craamgi", :published {:archive "https://kotobase.net/ipfs/bafkreidpwgzpcft5hzgd5zcizlphp2gf6vevyzxfz4ur2l4va23craamgi", :size 72284, :put-status 201, :get-status 200, :at "2026-08-15T13:38:00.589Z"}}
